  <div class="blog-post-item">
    <h2 class="blog-post-header text-center p-3">
      <a id="blog-post-{{id}}"class="blog-post-title" href="/posts/{{id}}">{{title}}</a>
      <br>
      <a class="post-username" href="/{{user.username}}">@{{user.username}}</a>
      <span class="blog-post-date">({{format_date created_at}})</span>
    </h2>
    
    <div class="blog-post-body px-3 px-md-5 text-justify">
      
      <p class="blog-post-p">{{blog_text}}</p>
      
      <div class="d-flex justify-content-around my-3">
        
        {{!-- Comment --}}
        <a href="/login" class="oi-commentDiv d-flex align-items-center justify-content-center post-buttons rounded-circle" data-post_id ="{{id}}">
          <span class="oi" data-glyph="comment-square"> {{comments.length}}</span>
        </a>
        
        {{!-- LIKE --}}
        <a href="/login" class="oi-likeDiv d-flex align-items-center justify-content-center post-buttons rounded-circle" data-post_id ="{{id}}">
          <span class="oi" data-glyph="heart"> {{likes.length}}</span>
        </a>
        
        {{!-- FLAG Model and Controllers finished View Outstanding --}}
        {{!-- <div class="oi-flagDiv d-flex align-items-center justify-content-center post-buttons rounded-circle" data-post_id ="{{id}}">
          <span class="oi" data-glyph="flag"></span>
          <span>{{flag_count}}</span>
        </div> --}}
        
        {{!-- SHARE --}}
        <div class="oi-shareDiv d-flex align-items-center justify-content-center post-buttons rounded-circle" data-post_id ="{{id}}">
          <span class="oi" data-glyph="share-boxed"></span>
        </div>
      </div>
    </div>
  </div>